backports.tarfile==1.2.0
dotenv==0.9.9
importlib-metadata==8.0.0
ipykernel==7.1.0
jaraco.collections==5.1.0
maikol-utils==0.8.0
pandas==2.3.3
pip-chill==1.0.3
tomli==2.0.1
torchinfo==1.8.0
torchvision==0.24.1
tqdm==4.67.1
uv==0.9.11
